input[type=checkbox] {
  display: none;
}

@media (max-width: 700px) {
  .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    li {
      padding: 0;
      margin: 0 auto;
      a {
        display: block;
        padding-top: 30px;
        font-size: 3rem;
      }
    }
  }
  header {
    h1 {
      padding-top: 100px;
    }
  }

  .hamburger {
    position: fixed;
    display: inline-block;
    color: black;
    margin: 20px 0;
    top: 2rem;
    width: 44px;
    height: 44px;
    z-index: 2;
    cursor: pointer;
  }
  .hamburger-bg {
    background: white;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    padding: 2px;
  }

  .hamburger:hover {
    color: #FFD300;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
    background: black;
    padding: 3rem;
    transform: translate3d(calc(-100% - 24px), 0, 0);
    z-index: 1;
    pointer-events: none;
  }

  input:checked ~ .nav {
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    pointer-events: auto;
  }
}
