@media (max-width: 1480px) {
  .more-info {
    .home-box-image {
      top: -350px;
    }
  }
  .article-posts {
    height: 800px;
    h3 {
      font-size: 3.5rem;
    }
  }
}

@media (max-width: 1280px) {
  .more-info {
    padding: 250px 0 100px 0;
    .home-box-image {
      top: -300px;
    }
  }
  .article-posts {
    height: 750px;
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .gift-card {
    .gift-card-info {
      width: 70%;
    }
  }
  .nature-spaces {
    .nature-left {
      width: 25%;
      height: 25%;
    }
  }
}

@media (max-width: 1080px) {
  .more-info {
    padding: 220px 0 100px 0;
    h2 {
      font-size: 3.5rem;
    }
    .home-box-image {
      top: -250px;
    }
    .flex-info {
      .info-and-icon {
        .fa-3x {
          font-size: 2rem;
        }
        .circle-icon {
          min-width: 40px;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
  .article-posts {
    height: 650px;
    .article-image-right {
      top: 400px;
    }
  }
}

@media (max-width: 980px) {
  .more-info {
    padding: 220px 0 100px 0;
    .home-box-image {
      top: -200px;
      min-width: 485px;
    }
  }
  .flex-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info-and-icon {
      width: 100%;
      .post-info {
        width: 90%;
        padding-bottom: 20px;
      }
    }
  }
  // ARTICLE POSTS HERE

  .article-posts {
    height: 1500px;
    .flex-article {
      .article-1-container {
        justify-content: center;
        margin-top: 50%;
      }
      .article-1 {
        width: 90%;
        align-items: center;
      }
      .article-2-container {
        display: flex;
        justify-content: center;
      }
      .article-2 {
        margin-top: 55%;
        width: 90%;
        justify-content: center;
        align-items: center;
        text-align: left;
      }
    }
    .article-image-left {
      top: -60px;
      width: 80%;
    }
    .article-image-right {
      top: 720px;
      width: 80%;
    }
  }
  // giftcard
  .gift-card {
    .gift-card-info {
      width: 80%;
    }
    h2 {
      font-size: 3.5rem;
    }
  }

  .nature-spaces {
    .nature-banner {
      height: 300px;
      object-fit: cover;
    }
    .nature-container {
      .nature-info {
        h2 {
          font-size: 3.5rem;
        }
      }
    }

    .nature-left {
      box-shadow: -10px 10px #ffd300;
    }
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 4rem;
    span {
      width: 310px;
    }
  }
  .more-info {
    padding-top: 250px;
    h2 {
      font-size: 3rem;
    }
  }

  .article-posts {
    height: 1350px;
    h3 {
      font-size: 2.5rem;
    }
    .flex-article {
      .article-1-container {
        margin-top: 40%;
      }
      .article-2 {
        margin-top: 40%;
      }
    }
    .article-image-right {
      top: 600px;
    }
  }

  .gift-card {
    padding: 15% 0;
    h2 {
      font-size: 3rem;
    }
  }

  .nature-spaces {
    .nature-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .nature-info {
        width: 90%;
        padding-top: 80px;
        h2 {
          font-size: 3rem;
        }
      }
      .nature-left {
        width: 60%;
      }
    }
    button {
      display: block;
      margin: 0 auto;
    }
  }

  .gallery {
    ul {
      li:nth-child(2) {
        display: none;
      }
    }
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 3.5rem;
    span {
      width: 275px;
    }
  }
  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .more-info {
    padding-top: 52%;
    h2 {
      font-size: 2.5rem;
    }
    .home-box-image {
      top: -170px;
      min-width: 90vw;
    }
  }
  .flex-info {
    .info-and-icon {
      justify-content: space-around;
      .post-info {
        width: 80%;
      }
    }
  }

  .article-posts {
    height: 1150px;
    h3 {
      font-size: 2.3rem;
    }
    .article-image-right {
      top: 510px;
      box-shadow: -10px 10px #ffd300;
    }
    .article-image-left {
      box-shadow: 10px 10px #ffd300;
    }
    .flex-article {
      .article-1-container {
        margin-top: 25%;
      }
      .article-2 {
        margin-top: 35%;
      }
    }
      button {
    font-size: 2.0rem;
    margin-top: 10px;
  }
  }

  .gift-card {
    h2 {
      font-size: 2.5rem;
      line-height: 3rem;
      text-align: center;
    }
      button {
    font-size: 2.0rem;
        margin-top: 10px;

  }
  }

  .nature-spaces {
    .nature-container {
      padding-top: 50px;
      .nature-info {
        padding-top: 50px;
        h2 {
          font-size: 2.5rem;
          line-height: 3rem;
          text-align: center;
        }
      }
      .nature-left {
        width: 70%;
      }
    }
      button {
    font-size: 2.0rem;
        margin-top: 10px;

  }
  }

  .gallery {
    ul {
    flex-direction: column;
    li {
      padding-bottom: 30px;
    }
    }
  }
}
