// * {
//   border: 1px solid red;
// }

body {
  background-color: #2b331b;
}

.blog-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1% 8%;

  .blog-section {
    grid-column: 2;
  }
  .blog-comments {
    grid-column: 2;
  }
  .fieldsetarea {
    grid-column: 2;
  }
  footer {
    grid-column: span 2;
    width: 100%;
  }

  aside {
    position: relative;
    top: 60px;

    img {
      width: 95%;
      position: absolute;
      top: -20px;
    }
    .aside-content {
      margin-left: 40px;
      background-color: #171b0e;
      padding: 90% 20px 10px 20px;
    }
    h4 {
      font-size: $h4;
      margin: 10px 0;
      color: #ffd300;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 0.2rem;
    }
    p {
      font-size: 1.6rem;
    }
    ul {
      font-family: $pfont;
      font-size: 1.6rem;
      font-weight: 200;
      color: white;
      line-height: 3rem;
      letter-spacing: 0.09rem;
      padding-left: 20px;
    }
  }
  .blog-container {
    position: relative;

    img {
      position: absolute;
      width: 95%;
      left: 5%;
      top: -50px;
      box-shadow: -20px 20px #ffd300;
    }
    .blog-section {
      border-left: 4px solid #ffd300;
      border-bottom: 4px solid #ffd300;
      padding: 65% 10% 8% 10%;
      margin-left: calc(5% - 20px);

      h2 {
        font-size: $h2;
        color: #ffd300;
        text-transform: uppercase;
      }

      .date {
        font-weight: 600;
      }
    }
  }
}

.blog-comments {
  margin-left: calc(15% - 20px);
  margin-right: 10%;
  h3 {
    font-size: $h3;
    color: white;
    text-transform: uppercase;
  }
  .single-comments {
    display: grid;
    grid-template-areas: "img comment-container";

    .comment-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 20px;

      .date {
        margin: 0;
        color: #ffd300;
        font-weight: 400;
        letter-spacing: 0.2rem;
      }
      .comment {
        margin-top: 5px;
        margin-bottom: 60px;
      }
    }
  }
}

.fieldsetarea {
  margin-left: calc(15% - 20px);
  margin-right: 10%;
  font-family: $pfont;

  fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  input,
  textarea {
    border: none;
    background-color: #2b331b;
    color: white;
    font-size: 2rem;
    height: 20px;
    resize: none;
    letter-spacing: 0.2rem;
    margin: 0;
  }
  input[type="text"].name,
  input[type="email"] {
    border-bottom: 1px solid #ffd300;
    margin: 0 0 50px 0;
    height: 40px;
    padding-left: 20px;
    width: 45%;
  }
  .message {
    border: 1px solid #ffd300;
    margin: 0;
    width: 100%;
    height: 300px;
    padding: 15px 0 0 20px;
  }
  input::placeholder {
    color: white;
  }
  button {
    font-family: $font;
    font-size: $button;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #ffd300;
    color: black;
    border: none;
    width: 100%;
    margin-top: 40px;
    padding: 15px 0 10px 0;
  }
}
footer {
  text-align: center;
}
