
body {
  background-color: #2b331b;
}

.blog-main {
  position: relative;
}
aside {
  position: sticky;
  margin-top: 100px;
  top: 50px;
  width: 400px;
  img {
    position: absolute;
    width: 95%;
    top: -20px;
  }
}
.aside-content {
  margin-left: 40px;
  background-color: #171B0E;
  padding: 370px 15px 10px 15px;
  h4 {
    font-size: $h4;
    text-transform: uppercase;
    color: #ffd300;
    margin: 0;
  }
  ul {
    padding-left: 20px;
  }

  li {
    font-family: $pfont;
    font-size: $p;
    font-weight: 200;
    color: white;
    line-height: 3rem;
    letter-spacing: 0.09rem;
    padding: 0;
  }
}
