* {
  border: 1px solid red;
}

body {
  background-color: #2b331b;
}

.blog-main {
  position: relative;
  display: flex;
}
aside {
  position: absolute;
  margin-top: 100px;
  top: 50px;
  width: 400px;
  img {
    position: absolute;
    width: 95%;
    top: -20px;
  }
}
.aside-content {
  margin-left: 40px;
  background-color: #171B0E;
  padding: 370px 15px 10px 15px;

  h4 {
    font-size: $h4;
    font-weight: 400;;
    text-transform: uppercase;
    color: #ffd300;
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 1.4rem;
  }
  ul {
    padding-left: 20px;
    margin: 0;
  }

  li {
    font-family: $pfont;
    font-size: 1.4rem;
    font-weight: 200;
    color: white;
    line-height: 3rem;
    letter-spacing: 0.09rem;
    padding: 0;
  }
}
.blog-section-container {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;

}
