header {
  background: url(../images/home-header.jpg);
  background-color: #171B0D;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  min-height: 70vh;
}

h1 {
  font-size: $h1;
  margin: 0;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 6.0rem;
  letter-spacing: 0.3rem;

    span {
      display: block;
      background-color: white;
      color: #2B331B;
      width: 375px;
      padding: 10px 0 0 5px;
      margin-bottom: 10px;
  }
}