.banner-index {
  background: url(../images/home-header.jpg);
  min-height: 70vh;
}

.banner-contact {
  background: url(../images/contact-header.jpg);
  min-height: 50vh;
}

.banner-blog {
  background: url(../images/blog-header.jpg);
}
.banner-index,
.banner-contact,
.banner-blog {
  background-color: #171b0d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1 {
  font-size: $h1;
  margin: 0;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 6rem;
  letter-spacing: 0.3rem;

  span {
    display: block;
    background-color: white;
    color: #2b331b;
    width: 375px;
    padding: 10px 0 0 5px;
    margin-bottom: 10px;
  }
}
