.gallery {
  background-color: #171B0E;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    margin: 0;
    li { 
      display: flex;
      justify-content: center;
    }
    img{
      height: auto;
      width: 90%;
      object-fit: contain;
    }    
  }
}