.wrapper {
  margin: 0 auto;
  max-width: 1240px;
  width: 90%;
}
.nav ul {
  display: flex;
  justify-content: flex-start;
  margin: 0;  
  padding: 50px 0;

  li {
    list-style: none;
    padding-right: 40px;
    font-family: $font;

    a {
      text-decoration: none;
      font-weight: 700;
      font-size: $nav;
      color: white;
    }
  }
}
